<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyue.combat.server.mapper.PraiseMapper">

    <resultMap id="BaseResultMap" type="com.chenyue.combat.server.domain.Praise">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="blogId" column="blog_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="praiseTime" column="praise_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="isActive" column="is_active" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blog_id,user_id,
        praise_time,status,is_active,
        create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from praise
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from praise
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.chenyue.combat.server.domain.Praise" useGeneratedKeys="true">
        insert into praise
        ( id,blog_id,user_id
        ,praise_time,status,is_active
        ,create_time,update_time)
        values (#{id,jdbcType=INTEGER},#{blogId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER}
        ,#{praiseTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{isActive,jdbcType=INTEGER}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.chenyue.combat.server.domain.Praise" useGeneratedKeys="true">
        insert into praise
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="blogId != null">blog_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="praiseTime != null">praise_time,</if>
                <if test="status != null">status,</if>
                <if test="isActive != null">is_active,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="blogId != null">#{blogId,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="praiseTime != null">#{praiseTime,jdbcType=TIMESTAMP},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="isActive != null">#{isActive,jdbcType=INTEGER},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenyue.combat.server.domain.Praise">
        update praise
        <set>
                <if test="blogId != null">
                    blog_id = #{blogId,jdbcType=INTEGER},
                </if>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="praiseTime != null">
                    praise_time = #{praiseTime,jdbcType=TIMESTAMP},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="isActive != null">
                    is_active = #{isActive,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chenyue.combat.server.domain.Praise">
        update praise
        set 
            blog_id =  #{blogId,jdbcType=INTEGER},
            user_id =  #{userId,jdbcType=INTEGER},
            praise_time =  #{praiseTime,jdbcType=TIMESTAMP},
            status =  #{status,jdbcType=INTEGER},
            is_active =  #{isActive,jdbcType=INTEGER},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>

    <!--根据博客id-用户id查询点赞记录-->
    <select id="selectByBlogUserId" resultType="com.chenyue.combat.server.domain.Praise">
        SELECT <include refid="Base_Column_List"/>
        FROM praise
        WHERE is_active = 1 AND status = 1 AND blog_id=#{blogId} AND user_id = #{userId}
    </select>

    <!--根据博客id查询点赞数-->
    <select id="countByBlogId" resultType="java.lang.Long">
        SELECT COUNT(id) AS total
        FROM praise
        WHERE is_active = 1 AND status = 1 AND blog_id=#{blogId}
    </select>

    <!--取消点赞博客-->
    <update id="cancelPraiseBlog">
        UPDATE praise SET status=0
        WHERE is_active = 1 AND status = 1
        AND blog_id=#{blogId} AND user_id = #{userId}
    </update>

    <!--获取博客点赞总数排行榜-->
    <select id="getPraiseRank" resultType="com.chenyue.combat.server.entity.dto.PraiseRankDTO">
        SELECT
            blog_id   AS blogId,
            count(id) AS total
        FROM praise
        WHERE is_active = 1 AND status = 1
        GROUP BY blog_id
        ORDER BY total DESC
    </select>
</mapper>
